/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */
 #include <zephyr/dt-bindings/display/panel.h>

/ {
	chosen {
		zephyr,display = &mspi_display;
	};

	mspi_display: ambiq_rm69330 {
		compatible = "ambiq,rm69330";
		height = <360>;
		width = <360>;
		interrupt-parent = <&nvic>;
		interrupts = <20 0>;
		reset-gpios = <&gpio0_31 11 GPIO_ACTIVE_HIGH>;
		bl-gpios = <&gpio32_63 49 GPIO_ACTIVE_HIGH>;
		te-gpios = <&gpio32_63 38 GPIO_ACTIVE_HIGH>;
		pixel-format = <PANEL_PIXEL_FORMAT_RGB_888>;
		pinctrl-0 = <&mspi0_default>;
		pinctrl-names = "default";
		status = "okay";
	};
};
