# Copyright 2023, NXP
# SPDX-License-Identifier: Apache-2.0

config AMBIQ_RM69330
	bool "AMBIQ RM69330 display driver"
	default y
	select AMBIQ_HAL
	depends on DT_HAS_AMBIQ_RM69330_ENABLED
	help
	  Enable driver for RM69330 display driver.
